// Specific CSS for your home-page
.wrapper {
  min-height: 91vh;
}


.homepage {
  background-color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.homepagetitle {
  h2 {
    font-size: 86px;
    color: white;
    font-weight: bold;
  }
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: normal;
}

.languages {
  position: absolute;
  top: 10px;
  right: 20px;
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  color: white;
}

// essai carrousel

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
