// Specific CSS for your home-page
.homepage {
  background-color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-height: 91vh;
}

.homepagetitle {
  h2 {
    font-size: 86px;
    color: white;
    font-weight: bold;
  }
  font-size: 24px;
  color: white;
  text-align: center;
  font-weight: normal;
}
