<div class="wrapper">
  <div class="banner">
    <h3>YUNNAN VIAJES</h3>
  </div>

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "HOME", home_path, class: "nav-link" %>
          <!-- <a class="nav-link" href="#">HOME</a> -->
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">YUNNAN</a> -->
          <%= link_to "YUNNAN", yunnan_spanish_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "NUESTRO TOURS", our_tours_spanish_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">ABOUT US</a> -->
          <%= link_to "QUIENES SOMOS", quien_somos_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">CONTACTO</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="pagetitle">
    <h2>CONTACTO</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p class="contact-text">
           info@yunnanviajes.com
           </p>
           <p class="contact-text">
             + 86 131 70 61 70 01 (China) </br>
             + 34 697 91 31 62 (Spain)
           </p>
           <p class="contact-text">
             Yunnan Viajes & Yunnan Panda International Tour Co.Ltd.</br>
             605# No. 328 Beijing Road </br>
             Kunming city, Yunnan province </br>
             China
           </p>
        </div>
      </div>
    </div>
  </div>
</div>
