<div class="wrapper">
  <div class="pagetitle">
    <h2>CONTACT US</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p class="contact-text">
           info@yunnanviajes.com
           </p>
           <p class="contact-text">
             + 86 131 70 61 70 01 (China) </br>
             + 34 697 91 31 62 (Spain)
           </p>
           <p class="contact-text">
             Yunnan Viajes & Yunnan Panda International Tour Co.Ltd.</br>
             605# No. 328 Beijing Road </br>
             Kunming city, Yunnan province </br>
             China
           </p>
        </div>
      </div>
    </div>
  </div>
</div>
