.outerbox {
  margin: 100px 50px;
  a {
  text-decoration: none;
  }
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 260px;
  width: 260px;
  border-radius: 1.5px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  color: rgba(255,255,255,0);
  font-family: "Alegreya Sans", "Helvetica", "sans-serif";
  font-size: 40px;
  color: rgba(255,255,255,0);
}
.card-menu:hover {
  color: rgba(255,255,255,1);
}

.cards {
  margin: 80px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
  width: 260px;
  border: none;
  border-radius: 3px;
  padding: 0 20px;
  background-size: cover;
  background-position: center;
  color: rgba(255,255,255,0);
  font-size: 40px;
  font-style: "Alegreya Sans", "Helvetica", "sans-serif";
  // font-weight: bold;
  text-align: center;
}

.card:hover {
  color: rgba(255,255,255,1);
}

.cardtext {
  grid-column: 1 / span 3;
// text-align: center;
}


