.outerbox {
  margin: 100px 50px;
  a {
  text-decoration: none;
  }
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 260px;
  width: 260px;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  color: rgba(255,255,255,0);
  font-family: "Alegreya Sans", "Helvetica", "sans-serif";
  font-size: 40px;
  font-weight: bold;
  color: rgba(255,255,255,0);
  text-align: center;
  padding: 10px;
}
.card-menu:hover {
  color: rgba(255,255,255,1);
}

.card-yunnan {
  background-image: linear-gradient(rgba(245,245,245,0.3),rgba(245,245,245,0.3)), url('yunnan.jpg');
}

.card-yunnan:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('yunnan.jpg');
}

.card-tours {
  background-image:
      linear-gradient(rgba(245,245,245,0.3),rgba(245,245,245,0.3)), url('tours.jpg');
}

.card-tours:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('tours.jpg');
}

.card-about {
  background-image:
      linear-gradient(rgba(245,245,245,0.3),rgba(245,245,245,0.3)), url('about.jpg');
}

.card-about:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('about.jpg');
}

.cards {
  margin: 80px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
  width: 260px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  padding: 0 20px;
  background-size: cover;
  background-position: center;
  color: rgba(255,255,255,0);
  font-size: 40px;
  font-style: "Alegreya Sans", "Helvetica", "sans-serif";
  text-align: center;
}

.card:hover {
  color: rgba(255,255,255,1);
}

.card-kunming {
  background-image: url('kunming-card.jpg');
}

.card-kunming:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('kunming-card.jpg');
}

.card-weishan {
  background-image: url('weishan-card.jpg');
}

.card-weishan:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('weishan-card.jpg');
}

.card-yuanyang {
  background-image: url('yuanyang-card.jpg');
}

.card-yuanyang:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('yuanyang-card.jpg');
}

.card-jianshui {
  background-image: url('jianshui-card.jpg');
}

.card-jianshui:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('jianshui-card.jpg');
}

.card-jinping {
  background-image: url('jinping-card.jpg');
}

.card-jinping:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('jinping-card.jpg');
}

.card-tiger {
  background-image: url('nettigerleaping-card.jpg');
}

.card-tiger:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('nettigerleaping-card.jpg');
}

.card-dali {
  background-image: url('netdali-card.jpg');
}

.card-dali:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('netdali-card.jpg');
}

.card-shaxi {
  background-image: url('netshaxi-card.jpg');
}

.card-shaxi:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('netshaxi-card.jpg');
}

.card-lijiang {
  background-image: url('lijiang-card.jpg');
}

.card-lijiang:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('lijiang-card.jpg');
}

.card-wumu {
  background-image: url('wumu-card.jpg');
}

.card-wumu:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('wumu-card.jpg');
}

.card-meili {
  background-image: url('meili-card.jpg');
}

.card-meili:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('meili-card.jpg');
}

.card-shangrila {
  background-image: url('shangrila-card.jpg');
}

.card-shangrila:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('shangrila-card.jpg');
}

.card-shilin {
  background-image: url('netshilin-card.jpg');
}

.card-shilin:hover {
  background-image: linear-gradient(rgba(90,90,90,0.7),rgba(90,90,90,0.7)), url('netshilin-card.jpg');
}

.cardtext {
  grid-column: 1 / span 3;
}


