<div class="wrapper">
  <div class="pagetitle">
    <h2>QUI NOUS SOMMES</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="imgcenter">
        <%= image_tag 'quienes1.jpg', class: "img-fluid", style: "margin-bottom: 80px;" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>
           Meet the Yunnan Viajes team ! </p>
           <p> Edith, a Catalan from Barcelona who lives in the region ; Ding Bo born in Kunming, Yunnan’s capital ; and Yunnan Panda International, a local tour operator with more than 15 years of experience in the tourism industry.
           </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="imgcenter">
        <%= image_tag 'edith.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
        </div>
      </div>
    </div>
  </div>
   <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>
          Edith has lived in Kunming since 2003. She has been working closely with Yunnan Panda International since 2009 bringing a “Western mentality” to the organisation of excursions. She personally designs itineraries, supervises all aspects of the excursions and when possible she accompanies the groups on tours. Her favourite part of this work is introducing travellers to this treasure, Yunnan, a place that has stolen a piece of her soul. Edith speaks perfect Chinese, as well as English and French.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="imgcenter">
        <%= image_tag 'dingbo.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Ding Bo was born in Yunnan from a Han mother and a Hui father. This interesting mix made him a very nice and open minded person. With more than 10 years experience in the Spanish tourism market, he is in charge of operations. He loves his province, its culture, and enjoys sharing it with all our Spanish clients and friends.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
