<div class="wrapper">
  <div class="pagetitle">
    <h2>QUI NOUS SOMMES</h2>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="imgcenter">
        <%= image_tag 'quienes1.jpg', class: "img-fluid", style: "margin-bottom: 80px;" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>
           Voici votre équipe Yunnan Viajes ! </p>
           <p> Edith est une catalane de Barcelone qui vit dans la région ; Ding Bo est né à Kunming, la capitale du Yunnan; et Yunnan Panda International est un voyagiste local qui a plus de 15 ans d'expérience dans le tourisme.
           </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="imgcenter">
        <%= image_tag 'edith.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
        </div>
      </div>
    </div>
  </div>
   <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>
          Edith vit à Kunming depuis 2003. Elle travaille en étroite collaboration avec Yunnan Panda International depuis 2009 et apporte sa «mentalité occidentale» à l'organisation d'excursions. Elle conçoit personnellement les itinéraires, supervise tous les aspects des excursions et, si possible, elle accompagne les groupes lors des visites. Sa partie préférée de ce travail est d'initier les voyageurs à ce trésor, le Yunnan, un endroit qui a volé un morceau de son âme. Edith parle parfaitement le chinois, ainsi que l'anglais et le français.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="imgcenter">
        <%= image_tag 'dingbo.jpg', class: "img-fluid", style: "margin: 80px 0;" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="pagecontent">
          <p>Ding Bo est né dans le Yunnan d'une mère Han et d'un père Hui. Ce mélange intéressant a fait de lui une personne très sympathique et ouverte d'esprit. Avec plus de 10 ans d'expérience sur le marché touristique espagnol, il est en charge des opérations. Il aime sa province, sa culture et aime la partager avec tous nos clients et amis.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
